.form-50{
    max-width: 50%;
    width: 100%;
}

.image-uploader .uploaded .uploaded-image {
    max-width: 200px;
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 0 !important;

}

.image-uploader .uploaded .uploaded-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
     position: unset !important;
}

.text-danger{
    text-align: center;
    width: 100%;
    font-size: 20px;
}
